
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.mainSection{
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.headerSection_1{   
    height: 777px;
    /* background-color: rgb(90, 223, 223); */
}
.navbar{
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* background-color: brown; */
    /* margin-left: 59px;
    margin-right: 59px; */
}
.navbar_Brand{
display: flex;
justify-content: flex-start;
align-items: center;
}
.navbar_Brand h3{
    text-align: left;
    vertical-align: top;
    color: #252B42;
}
.menu_right {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_right DIV{
    width: 214px;
    height: 52px;  
}
.menu_right button{
    background-color: #96BB7C;
    color: white;
    border: none;
    height: 40px; 
    margin-left: 30px;     
    border-radius: 5px;
}
.menu_right a{
    color:  #96BB7C;
    text-align: left;
}
.menu_left a{
    text-decoration: none;
    color: #737373;
    margin-right: 10px;
}
.headerContent{
    width:auto;
    height: auto;
    display: flex;
}
.HqLeft{
    width: 50%;
    margin-top: 148px;
    margin-bottom: 148px;
    margin-left: 110px;
    /* margin-right: 30px; */
    /* border: 2px solid rebeccapurple     */
}
.boyRight{
    width: 50%;
}
.highQuality{
    width: 542px;
margin-top: 54px;
}
.highQuality h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px;
}
.onlineCls{
    width: 160px;
    /* height: 24px; */
    color: #96BB7C;
    margin: 0px;
    font-size: 18px;
}
.secondLeftCls{
    width: 458px;;
    margin-top: 30px;
}
.secondLeftCls h4{
    color: #737373;
    font-size: 25px;
    margin: 0px;
}
.getQuoteDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
.getQuoteLeft{
    height: 52px;
    width: 195px;
    background-color: #96BB7C;
    border-radius: 5px;   
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: #FFFFFF;
}
.getQuoteRight{
    height: 52px;
    width: 162px;
    border: 1px solid #96BB7C;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: #96BB7C;
}
.secondBody{
    /* height: 750px; */
    height: auto;
/* background-color: #96BB7C; */
}
.secondBodyInner{
    /* height: 725px; */
    margin: 0px 150px 24px 150px;
    /* background-color: beige; */
    overflow: auto; /*this is very important otherwise the child div top margin will not work. */
}
.secondBodyInnerTwo{
    width: 620px;  
}
.ourPopularCls{
    height: 134px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.ourPopularCls h2{
    margin: 10px 0px;
    height: 50px;
    font-size: 40px;
}
.ourPopularCls p{
    width: 450px;
    height: 40px;
    color: #737373;
    margin: 0px;
}
.cardsCls{
    margin: 50px 0px;
    /* background-color: #96BB7C; */
    height: 278px;
    overflow: auto;   /*this is very important otherwise the child div top margin will not work. */
    display: flex;
    justify-content: space-between;
}
.card{
    width: 180px;
    height: 238px;
    padding: 10px 30px;
    box-shadow: 1px 6px 6px 0px lightgray;
}
.card-img-top{
    width: 72px;
    margin-bottom: 15px;
}
.card-title{
    width: 140px;
    height: 20px;
    margin: 0px;
}
.rectangle{
    height:2px;
    width: 50px;
    background-color: #E74040;
    margin: 10px 0px;
}
.card-text{
    width: 132px;
    height:60px;
    margin: 0px;
}
.thirdCardCls{
    background-color: #96BB7C;
    margin: 0px!important;
    padding: 10px 30px;
    box-shadow: 0px 0px 0px 0px lightgray;
    color: #FFFFFF;
}
.thirdBody{
    /* height: 680px; */
    /* background-color: #96BB7C; */
    height:auto;
    overflow: auto;
}
.thirdBodyInner{
    margin: 0px 180px;
    height:auto;
    overflow: auto;
    /* background-color: #E74040; */
}
.thirdBodyInnerTwo{
    margin: 50px 0px;
    height: 380px;
    display:flex;
    /* background-color: aqua; */
}
.GqLeft{
    width: 50%;
}
.GqRight{
    width: 50%;
    overflow: auto;
}
.GqLeft img{
    width: 486px;
    height:380px ;    
}
.GqRightInner{
    width: 360px;
    /* height: 290px; */
    height: auto;
    margin: 47px 0px 47px 126px;
    /* background-color: bisque; */
}
.rectangleGetQuality{
    height:7px;
    width: 94px;
    background-color: #E74040;
    margin: 0px;
}
.getQuality{
    width: 250px;
    height: 90px;
    font-size: x-large;
    margin: 30px 0px;
}
GqRightInner p{
    margin-bottom: 30px;
    color: #737373;
}
.learnMoreThird{
    color: #96BB7C;
    height: 24px;
    font-size: 20px;
    font-weight: bolder;
}
.GqLeft iframe{
    width: 486px;
    height:380px ;  
}
/* .fifthBody{
    height: 1050px;
    overflow: auto;
    background-color: #E74040;
} */
.fifthBodyInner{
    /* height:1100px; */
    margin: 0px 150px 80px 150px;
    overflow: auto;
}
.fifthBodyInnerTwo{
    margin: 0px 0px;
    overflow: auto;
}
.ourPopularCls h2{
    margin: 0px;;
}
.fifthBodyInnerThree{
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: space-evenly;
}
.mainCards{
    width: 238px;
    height: auto;
}
.mainCardTop img{
    height: 281px;
}
.mainCardBotom{
    width: 232px;
    height: auto;
}
.mainCardBotomInner{
    margin: 25px 25px 0px 25px;
}
.trainingCls{
    margin-bottom: 10px;
    color: #96BB7C;
    font-size: 16px;
}
.starCls{  
    background-color: #2D4059;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 5px;
}
.mainCardBotomInner h5{
    margin: 0px 0px 10px 0px;
    font-size: 19px;
}
.mainCardBotomInner p{
    margin: 0px 0px 10px 0px;
    font-size: 18px;
}
.salesCls{
    height: 30px;
}
.salesCls img{
    height: 30px;
    margin: 0px 0px 10px 0px;
}
.priceCls{
    height: 34px;
    margin: 0px 0px 10px 0px;
}
.LmoreCls{
    width: 141px;
    /* height: 44px; */
    height: auto;
}

.cardSixCls{
    margin: 50px 0px;
    /* background-color: #96BB7C; */
    /* height: 278px; */
    overflow: auto;   /*this is very important otherwise the child div top margin will not work. */
    display: flex;
    justify-content: space-between;
}

.cardSix{
    text-align: center;
    /* width: 180px; */
    /* height: 600px; */
    padding: 10px 30px;
    box-shadow: 1px 6px 6px 0px lightgray;
}
.card-title-six{
    /* width: 140px;
    height: 20px; */
    /* margin: 0px; */
    font-size: larger;
    /* padding-bottom: 20px; */
}
.card-text-six{
    width: 147px;
    margin-left: 20px;
    /* height:60px; */
    /* margin: 0px; */
}
.amountSix{
    color: #96BB7C;
    font-size: xx-large;
    font-weight: bold;
}

/* .secondBody-six{
    height: 750px;
background-color: #96BB7C;
} */
.secondBodyInner-six{
    /* height: 725px; */
    margin: 0px 150px 24px 150px;
    /* background-color: beige; */
    overflow: auto; /*this is very important otherwise the child div top margin will not work. */
}
.parMonthCls{
    margin: 0px;
    font-size: small;
    color: #8EC2F2;
}
.helpCls{
    width: 200px;
    color: white;
}
.tryFreeBtnCls{
    width: 180px;
    height: 30px;
    background-color: #96BB7C;
    border-radius: 5px;
    padding-top: 10px;
}
.tryFreeBtnCls a{
    color: white;
    text-decoration: none;
    font-size: small;
}
.unlimitedCls{
    margin-top: 35px;
    width: 230px;
    text-align: left;
}
.unlimitedCls p{
margin-bottom: 20px;
/* color: #252B42; */
font-size: 15px;
}
.thirdCardCls-six{
    background-color: #2D4059;
    margin: 0px!important;
    padding: 10px 30px;
    box-shadow: 0px 0px 0px 0px lightgray;
    color: #FFFFFF;
}

.sevenBody{
    /* height: 680px; */
    /* background-color: #96BB7C; */
    overflow: auto;
}
.sevenBodyInner{
    margin: 0px 180px;
    /* height: 680px; */
    overflow: auto;
    background-color:#EFF8ED;
}

/* .sevenBodyInnerTwo{
    width: 620px;  
} */

.sevenBodyInnerNext{
    display: grid; 
    grid-template-columns: auto auto
}
.sevenColscls{
    text-align: center; 
    /* background-color:#EFF8ED; */
}
.sevenColscls img{
    border-radius: 50%;
}
.sevenBodyCls{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
}
.sevenBodyCls h5{
    margin-top: 0px; 
    font-weight: 100; 
    color: #737373;
}
.sevenBodyCls h4{
    margin-top: 1px;
    margin-bottom: 5px;
}



.footer {
    position: absolute;
    /* top: 50%; */
    /* margin-top: 200px; */
    /* left: 50%; */
    /* transform: translate(-45%, -50%); */
    max-width: 1280px;
    /* width: 95%; */
    background: #FAFAFA;
    border-radius: 6px;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #0f0404;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    /* margin-top: 20px; */
    margin-left: -25px;

  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #0f0404;
  }
  .footer-col .links li a:hover {
    color: #0f0404;
  }
  .footer-col p {
    margin: 20px 0;
    color: #0f0404;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #0f0404;
    color: #0f0404;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #0f0404;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #96BB7C;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }
